body {
 box-sizing: border-box;  
}
#main {
    width: 1500px;
    height: 850px;
    margin: auto;
    overflow: hidden;
    background-image: url("../images/bg.png");
}
nav ul li{
    padding-top:50px;
    padding-left:20px;
    font-size: 30px;
    list-style-type: none;
    writing-mode: vertical-rl;
}


nav ul li a{
    text-decoration: none;
    color: #ffffff;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: #c1e6f7;
    
}
header {
    width: 300px;
    height:850px;

}
.leftnav{
    margin-top: 8px;
    width:300px;
   
    height:850px;
    position: fixed;
    overflow: hidden;
    top: 0;
    background: #292f38;
    

}
.content{
    background: #585b44;
    color: #ffffff;
    width: 1200px;
    height: 100%;
    
    margin-left: 300px;
    
}
.content p {
    padding: 15px;
}

.copyright-text{
    text-align: right;
    width: 300px;
    position: absolute;
    top: 800px;
    left: 1280px;
   
    color: #ffffff;
    
}
footer a{
    text-decoration: none;
    color: #ffffff;
}